Makefile
Makefile.in
aclocal.m4
autom4te.cache/
auxdir/Makefile
auxdir/Makefile.in
compile
config.h
config.h.in
config.h.in~
config.log
config.status
configure
depcomp
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/version.h
src/*.o
src/indexf
stamp-h1

.gitignore~

docs/_build
